<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="RevitPlugin" Manufacturer="HTW Dresden" Version="1.0.3" UpgradeCode="b91bf47a-ed28-40ed-9cc8-b573c91486a3" Scope="perMachine" >
	  <MajorUpgrade DowngradeErrorMessage="A newer version of Green3DScan is already installed." />
	  <MediaTemplate EmbedCab="yes"/>
	  
    <ComponentGroup Id="AddinFileGroup" Directory="YearDir">
			<Component Id="CMP_RevitPluginAddin" Guid="{6771D8DA-7EBB-4AEA-A7F9-FB21094572E4}">
				<File Id="FILE_RevitPluginAddin" Source="$(var.Revit.ProjectDir)Green3DScan.addin" KeyPath="yes"/>
			</Component>
			<Component Id="CMP_Settings" Guid="{3C0FE5EF-FBC4-48B2-A954-B3B703246BD9}">
				<File Id="FILE_Settings" Source="$(var.Revit.ProjectDir)SettingsGreen3DScan.json" KeyPath="yes"/>
			</Component>
			<!-- Adding Additional Executable Files -->
			<Component Id="CMP_SearchVoxel" Guid="{31D76B02-656F-426F-AB34-5DBBE0B8C8AC}">
				<File Id="FILE_SearchVoxel" Source="D:\06_Green3DScan\000_C++\Green3D\x64\Release\SearchVoxel.exe" KeyPath="yes"/>
			</Component>
			<Component Id="CMP_SegmentationBBox" Guid="{72492684-3A92-4B60-869A-0B2ACE36FBB4}">
				<File Id="FILE_SegmentationBBox" Source="D:\06_Green3DScan\000_C++\Green3D\x64\Release\SegmentationBBox.exe" KeyPath="yes"/>
			</Component>
			<Component Id="CMP_SegmentationVoxel" Guid="{F88B450B-311C-41E8-81D6-11C6B78AF5F3}">
				<File Id="FILE_SegmentationVoxel" Source="D:\06_Green3DScan\000_C++\Green3D\x64\Release\SegmentationVoxel.exe" KeyPath="yes"/>
			</Component>
			<Component Id="CMP_SegmentationIFC" Guid="{4A6B9C25-91BA-4774-8B62-215FC6B86925}">
				<File Id="FILE_SegmentationIFC" Source="D:\06_Green3DScan\00_GIT\FragmentationPointCloud\PythonIfcTools\faceBoxExtraction\dist\IFCFaceBoxExtractor.exe" KeyPath="yes"/>
			</Component>
			<Component Id="CMP_SettingsIFC" Guid="{85ECB70A-E753-439B-8DF7-E50F14F0870D}">
				<File Id="FILE_SettingsIFC" Source="$(var.Revit.ProjectDir)basicList.json" KeyPath="yes"/>
			</Component>

	</ComponentGroup>

		<Feature Id="Green3DScanMainProduct" Title="RevitPlugin" Level="1">
			<ComponentGroupRef Id="AddinFileGroup"/>
			<ComponentGroupRef Id="HarvestedComponents"/>
		</Feature>

		<!-- UI of Installer-->
		<Property Id="ApplicationFolderName" Value ="Green3DScan"></Property>
		<Property Id="WixAppFolder" Value="WixPerMachineFolder"></Property>
		<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"></Property>
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf"/> 
		<ui:WixUI Id="WixUI_InstallDir"/>

		<!-- Directory Structure -->
		<StandardDirectory Id="CommonAppDataFolder">
			<Directory Id="AutodeskDir" Name="Autodesk">
				<Directory Id="RevitDir" Name="Revit">
					<Directory Id="AddinDir" Name="Addins">
						<Directory Id="YearDir" Name="2023">
							<Directory Id="APPLICATIONFOLDER" Name="Green3DScan" ComponentGuidGenerationSeed="{81C56ECF-ED92-4211-9486-1165E7AD7A8E}">
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>
	</Package>
</Wix>